<% if @user.bootcamp_reviews.length >0 %>

<<<<<<< HEAD
<% @user.bootcamp_reviews.each do |review| %>
		<div class="col-lg-12 col-sm-12" id="review">
			<div class="col-lg-3 col-md-3 col-xs-12 user-review-info">
				<ul style="list-style:none;">
					<li class="user-photo"><img src="http://2016rotarypresidentialconferencemanila.org/wp-content/uploads/2015/05/user-icon-silhouette.png"></li>
					<li> <%= User.find_by_id(review.user_id).username %></li>
					<li><%= review.created_at %></li>
				</ul>
			</div>
			<div class="col-lg-9 col-md-9 col-xs-12">
				<div class="col-lg-12 title-ratings">
					<div class="col-lg-4 col-sm-4 col-xs-6 rating-boxes"><p>Overview <br> Amazing!</p></div>
					<div class="col-lg-4 col-sm-4 col-xs-6 rating-boxes"><p>Job search: <br><%= review.jobhelp %></p></div>
					<div class="col-lg-4 col-sm-4 col-xs-6 rating-boxes"><p>Instructors: <br> Amazing!</p></div>

					<div class="col-lg-4 col-sm-4 col-xs-6 rating-boxes"><p>Location: <br> <%= review.location %></p></div>
					<div class="col-lg-4 col-sm-4 col-xs-6 rating-boxes"><p>Worth it? <br> <%= review.worthit %></p></div>
					<div class="col-lg-4 col-sm-4 col-xs-6 rating-boxes"><p>Hired? <br>  <%= review.hired %></p></div>
				</div>

				<div class="col-lg-12 user_review">
					<p><%= review.content %></p>
				</div>


				<div class="button_container">
					<% if !!current_user %>
						<% if current_user.id == review.user_id %>
							<div class="edit_button">
								<a href="/bootcamp_reviews/<%= review.id %>/edit" data-no-turbolink="true" class="button">Edit review... </a>
							</div>
						<% end %>
					<% end %>
							<div class="read_button">
								<a href="#" class="button" data-no-turbolink="true">Read More...</a>
							</div>
				</div>
			</div>
		</div>

		<hr class="">

		<% end %>
<% else %>

	<div>
		<p>You have not written any reviews. Please write some soon!</p>
	</div>

<% end %>
