<head>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body class="home_body">
    <%= render 'partials/nav_home' %>
    <%= render 'partials/login_modal' %>
    <%= render 'partials/signup_modal' %>
    
        <div class="blurb_div">
            <p class="css_text">View, quit, and review the</p>
            <p class="css_text"> best bootcamp for you!<span class="typing_span">|</span></p>
        </div>

    <!-- <div id="searchfield">
        <form>
            <input type="text" name="currency" class="biginput" id="tags" placeholder="Search for Your Bootcamp!">
        </form>
    </div> --><!-- @end #searchfield -->


    <div class="menu-wrap">
        <nav class="menu">
            <ul class="clearfix">
                <li>
                    <a class="dropdown_header" href="#">Review Your Bootcamp <span class="arrow">&#9660;</span></a>
                      <ul class="sub-menu">
                        <li data-no-turbolink="true"><%= link_to "Academy X", bootcamps_path(5) %></li>
                        <li data-no-turbolink="true"><%= link_to "Anyone Can Learn to Code", bootcamps_path(6) %></li>
                        <li data-no-turbolink="true"><%= link_to "App Accademy", bootcamps_path(7) %></li>
                        <li data-no-turbolink="true"><%= link_to "Apprentice.io", bootcamps_path(8) %></li>
                        <li data-no-turbolink="true"><%= link_to "Big Nerd Ranch", bootcamps_path(9) %></li>
                        <li data-no-turbolink="true"><%= link_to "CodePath", bootcamps_path(10) %></li>
                        <li data-no-turbolink="true"><%= link_to "Coder Camps", bootcamps_path(11) %></li>
                        <li data-no-turbolink="true"><%= link_to "CodeStream Labs", bootcamps_path(12) %></li>
                        <li data-no-turbolink="true"><%= link_to "Codify Academy", bootcamps_path(13) %></li>
                        <li data-no-turbolink="true"><%= link_to "Coding Dojo", bootcamps_path(14) %></li>
                        <li data-no-turbolink="true"><%= link_to "Dev Bootcamp", bootcamps_path(15) %></li>
                        <li data-no-turbolink="true"><%= link_to "Fire Bootcamp", bootcamps_path(16) %></li>
                        <li data-no-turbolink="true"><%= link_to "Galvanize", bootcamps_path(17) %></li>
                        <li data-no-turbolink="true"><%= link_to "General Assembly", bootcamps_path(3) %></li>
                        <li data-no-turbolink="true"><%= link_to "Hack Reactor", bootcamps_path(4) %></li>
                        <li data-no-turbolink="true"><%= link_to "Hackbright Academy", bootcamps_path(18) %></li>
                        <li data-no-turbolink="true"><%= link_to "Hacker Coding Academy", bootcamps_path(19) %></li>
                        <li data-no-turbolink="true"><%= link_to "Hackership San Francisco", bootcamps_path(20) %></li>
                        <li data-no-turbolink="true"><%= link_to "LearnTech Labs", bootcamps_path(21) %></li>
                        <li data-no-turbolink="true"><%= link_to "Make School", bootcamps_path(22) %></li>
                        <li data-no-turbolink="true"><%= link_to "MakerSquare", bootcamps_path(23) %></li>
                        <li data-no-turbolink="true"><%= link_to "Metis", bootcamps_path(24) %></li>
                        <li data-no-turbolink="true"><%= link_to "Mobile Makers Academy", bootcamps_path(25) %></li>
                        <li data-no-turbolink="true"><%= link_to "Product School", bootcamps_path(26) %></li>
                        <li data-no-turbolink="true"><%= link_to "Thinkful", bootcamps_path(27) %></li>
                        <li data-no-turbolink="true"><%= link_to "Tradecraft", bootcamps_path(28) %></li>
                        <li data-no-turbolink="true"><%= link_to "Zipfian Academy", bootcamps_path(29) %></li>
                    </ul>
                </li>

            </ul>
        </nav>
    </div>

</body>
