<!--Partials Nav bar-->
<%= render 'partials/nav_show' %>

<%= render 'partials/header_reviews' %>


<!--Review Section-->
<a name="reviews"href="#/reviews" id="reviews-area"></a>
<div class="container">
	<div class="row">
		<h1>Reviews</h1>
		
		<div class="col-lg-10 col-sm-12">

			<% @bootcampReviews.each do |review| %>

				<div class="col-lg-12 col-sm-12" id="review">
					<div class="col-lg-3 col-md-3 col-xs-12 user-review-info">
						<ul style="list-style:none;">
							<li class="user-photo"><img src="http://2016rotarypresidentialconferencemanila.org/wp-content/uploads/2015/05/user-icon-silhouette.png"></li>
							<li> <%= review.user.username %></li>
							<li><%= review.created_at %></li>
						</ul>
					</div>
				<div class="col-lg-9 col-md-9 col-xs-12">
					<div class="col-lg-12 title-ratings">

						<div class="col-lg-4 col-sm-4 col-xs-6 rating-boxes"><p><span class="awesome-data"><%= (review.jobhelp + review.location + review.campus) / 3 %> </span><br>OVERAL RATING</p></div>

						<div class="col-lg-4 col-sm-4 col-xs-6 rating-boxes"><p><span class="awesome-data"><%= review.jobhelp %></span><br>CAREER SERVICES</p></div>

						<div class="col-lg-4 col-sm-4 col-xs-6 rating-boxes"><p><span class="awesome-data"><%= review.campus %></span><br>CAMPUS & FACILITIES</p></div>

						<div class="col-lg-4 col-sm-4 col-xs-6 rating-boxes"><p><span class="awesome-data"><%= review.location %></span><br>LOCATION</p></div>

						<div class="col-lg-4 col-sm-4 col-xs-6 rating-boxes"><p><span class="awesome-data"> <%= review.worthit %></span><br>WORTH THE TUITION?</p></div>

						<div class="col-lg-4 col-sm-4 col-xs-6 rating-boxes"><p><span class="awesome-data"> <%= review.hired %></span><br>CURRENT JOB STATUS </p></div>
					</div>

					<div class="col-lg-12 review">
						 <p><%= truncate(review.content, length: 200, separator: " ") %></p>
					</div>
					
					<h5 class="more"><a href="#" class="button">Read More...</a></h5>
				</div>
			</div>
			<!--End of Review-->
		<% end %>
	</div>

			<!-- Sidebar -->
		<div class="col-lg-2 col-xs-12">

			<!--Courses Offered-->

            
              <h3>Courses Offered</h3>
              <ul>
                <p><% @bootcamp.courses.split("|").each do | course |  %>
                <li><%= course %></li>
                <% end %></p>
              </ul>
            
            <br>
			<ul>
				<h4>More Information</h4>
					<li>Hours of Operations: <br> M-F 8:30AM - 9:00PM</li>
					<br>
					<li>Scholarships <br> Yes</li>
					<br>
					<li>Co-ed <br> Yes </li>
					<br>
					<li>Meal Plan <br> Hahaha, no.</li>
			</ul>
		</div>
		<!-- /#sidebar-wrapper -->

	</div>
</div>


<%= render "partials/footer_show" %>


